resources/*
!resources/plugins/
resources/plugins/*
!resources/plugins/README.txt
!resources/overlays/
resources/overlays/*
!resources/overlays/README.txt
.idea
btsync-media.env 
btsync-db.env 
.env
__pycache__
*.psql
*.dump
.idea
*.gpkg
data_dir
